* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  background: #fafafa;
  height: 100%;
}

.app__header {
  background: white;
  object-fit: contain;
  border: 1px solid lightgray;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}
.app__header img {
  object-fit: contain;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.app__postRight{
  margin-left: 20px;
}

.app__signUp {
  display: flex;
  flex-direction: column;
}
